<div class="page-footer">
  <a href="https://github.com/FunciHead">GitHub</a> • 
  <a href="https://www.linkedin.com/in/eduardo-andrade-lucas/">Linkedin</a> • 
  <a href="#" onclick="copyText('edulucassec@outlook.com'); return false;">Email</a>
<!-- this is all the js i'm using --> 
<script>
  function copyText(text) {
    navigator.clipboard.writeText(text)
      .then(() => alert('Email copied to clipboard!'))
      .catch(err => console.error('Failed to copy: ', err));
  }
</script>
</div>
<div class="my-footer">
  <a href="https://edulucas.com">edulucas.com</a>
</div>
